# If you want to enable/disable experimental features.
# Enabled by default
# Keep in mind that this is generated at build time, 
# you'll need to re-build if you change.
# This is automatically disabled in the docker images.
VITE_ENABLE_EXPERIMENTAL=true
